/* General styling */
:root {
  --main-text: #ffffff;
  --secondary-text: #385064;
  --main-color: #587284;
  --main-color-light: #4f6d82a8;
  --secondary-color: #6c9eb4;
}

html {
  font-size: 16px; /* Base font size */
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--main-text);
  font-family: "Syne", sans-serif;
  font-size: 1.5rem; /* 24px */
  padding-bottom: 100px;
}

h1,
h2,
h3 {
  text-align: center;
}
.h2-extra {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--main-text);
  transition: color 0.3s ease; /* Added transition */
}

a:hover {
  text-decoration: underline;
}

/* Navigation */
.nav {
  background-color: var(--main-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: sticky;
  top: 0;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  flex: 1; /* Adjust item size */
}

.nav ul li a {
  color: var(--secondary-text);
  padding: 5px;
}

/* Responsive Navigation */
@media (max-width: 790px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav ul {
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center;
    align-items: center;
  }

  .nav ul li {
    text-align: center;
  }
}

/* Logo */
.logo {
  max-width: 200px;
  margin-left: auto;
}

/* Footer */
.footer {
  background-color: var(--main-text);
  color: var(--secondary-text);
  padding: 10px;
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1;
}
.footer button {
  font-size: 20px; /* Adjust icon size */
  padding: 5px; /* Adjust padding */
  background-color: var(--secondary-text); /* Remove default button styling */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer */
}

/* .footer button:hover {
  color: var(--secondary-text);
} */

/* Button Links */
.button-link,
.avatar-btn {
  background-color: var(--main-color);
  color: var(--main-text);
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 40px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Added transition */
}

.button-link:hover,
.avatar-btn:hover {
  background-color: var(--main-color-light);
  color: var(--secondary-text);
  border: 1px solid var(--secondary-text);
}

/* Search Bar */
.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.searchbar {
  padding-left: 25px;
  margin: 10px;
  height: 40px;
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%;
}

.search-btn,
.clear-btn {
  padding: 10px 20px;
  height: 40px;
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s ease; /* Added transition */
}

.search-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--main-text);
  color: var(--main-text);
  cursor: pointer;
}

/* Venues styling */
.loading-message,
.success-message,
.error-message {
  text-align: center;
  display: grid;
}

.venues-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

/* Change to display 3 venues on larger screens */
@media (min-width: 1356px) {
  .venues-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Change to display 2 venues on medium screens */
@media (max-width: 1355px) and (min-width: 901px) {
  .venues-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For smaller screens, revert to single column layout */
@media (max-width: 900px) {
  .venues-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Card styles */
.venue,
.specific-booking,
.checkout-message,
.contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff2c;

  color: var(--main-text);
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
}

.venue-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.venue-title {
  margin-bottom: 5px;
}

.venue-image {
  height: 250px;
  width: 250px;
  padding: 5px;
  object-fit: cover;
}

/* Booking cart */
.specific-booking {
  width: 80%;
  margin-bottom: 20px;
}

.remove-item-btn {
  align-self: flex-end;
  background: none;
  border: none;
  color: var(--main-color-light);
  cursor: pointer;
  font-size: 1em;
  margin-top: -10px;
  margin-right: -10px;
}

.remove-item-btn:hover {
  color: var(--main-color);
}

.submit button {
  margin-bottom: 20px;
}

/* About */
.about p {
  align-items: center;
  padding: 10px 20px;
}

/* Form and card styling */
.form,
.card,
.about-page,
.contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #ffffff2c;

  color: var(--main-text);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 100%;
  max-width: 700px;
}

.contact-link {
  color: var(--main-text);
  text-decoration: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

label {
  text-align: left;
}

.form-input,
.form-textarea {
  max-width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color-light);
  font-size: 18px;
  color: var(--main-text);
  font-family: "Syne", sans-serif;
}

/* Password input styling */
.password-input-container {
  position: relative;
  width: 100%;
}

.password-input-container input {
  width: 100%;
  padding-right: 10px;
}

.password-input-container .toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

::placeholder {
  color: var(--main-text);
  opacity: 1;
}

/* Success and Error Messages */
.success-message {
  color: greenyellow;
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 30px;
  margin-top: 5px;
}

.error-message {
  color: rgb(255, 132, 0);
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 30px;
  margin-top: 5px;
}

/* Calendar styling */
.custom-calendar {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  z-index: -1;
}

.custom-calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color-light);
  padding: 10px;
}

.custom-calendar .header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.custom-calendar .days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px;
}

.custom-calendar .day-name {
  font-weight: bold;
}

.custom-calendar .day {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}

.custom-calendar .day.empty {
  background-color: #f9f9f9;
  cursor: default;
}

.custom-calendar .day.selected {
  background-color: #a4c639;
  color: white;
}

.custom-calendar .day.from {
  border: 1px solid #a4c639;
  color: #a4c639;
}

.custom-calendar .day.to {
  border: 1px solid #a4c639;
  color: #a4c639;
}

/* Profile site styling */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #ffffff2c;

  color: var(--main-text);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 100%;
  max-width: 700px;
}

.avatar-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.formContainer {
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.avatarform {
  padding: 25px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%;
}

.avatar-input {
  padding-left: 25px;
  margin: 10px auto;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  max-width: 350px;
  border: none;
}

.avatar-btn {
  padding: 10px 20px;
  height: 40px;
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  margin-left: auto; /* Move button to the right */
  margin-top: 10px; /* Add margin to separate from input */
  transition: background-color 0.3s ease; /* Added transition */
}

.avatar-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--main-text);
  color: var(--main-text);
  cursor: pointer;
}

.user-venues,
.specific-user-venues,
.booking-card {
  /*  background-color: var(--main-text);
  border: 1px solid var(--main-color-light);
  padding: 20px;
  border-radius: 5px;
  margin: 10px auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: var(--main-color);

  color: var(--main-text);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 70%;
  max-width: 700px;
}
