.button {
  background-color: var(--secondary-text);
  color: var(--main-text);
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--main-text);
  cursor: pointer;
}

.buttondanger{
  background-color: var(--secondary-text);
  color: red;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}