.button {
  background-color: var(--secondary-text);
  color: var(--main-text);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--main-text);
  cursor: pointer;
}